/* Đặt lại các giá trị mặc định cho toàn trang */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.form-container {
  background: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
  transition: transform 0.3s ease;
}

.form-container:hover {
  transform: scale(1.05);
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 15px;
  font-size: 14px;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

#notification {
  position: fixed;
  top: 20px;
  right: -300px; /* Vị trí ban đầu ngoài màn hình */
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  transition: transform 0.5s ease-in-out, right 0.5s ease-in-out; /* Hiệu ứng di chuyển */
}

#notification.success {
  background-color: #28a745;
}

#notification.error {
  background-color: #dc3545;
}

.show {
  transform: translateX(-1px); /* Di chuyển từ bên ngoài vào trong */
}
.form-group input[type="checkbox"] {
  margin-right: 10px;
}
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
#rememberMe {
  width: 15px;
}
.rememberMe {
  width: 35%;
}